@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  min-width: 1280px;
  color: #333333;
}
.nav-main {
  display: flex;
  position: sticky;
  top : 1px;
  justify-content: space-between;
  border-top: black;
  background-color: white;
  align-items: center;
  padding : 3px;


}
.nav-h2 {
  margin-left:15px;
}

.img-index1{
  background-image: url(../assets/apparel.jpeg);
  background-size: cover; 
  background-repeat: no-repeat;
  height:700px;
  margin-bottom: 1.5rem;
}

.img-index2{
  width: 500px;
  border-radius: 1rem;
}


.nav-ul{
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
  
}
.nav-menu {
  justify-content: end;
  margin-right:15px;

}
.nav-menu:hover{
  color: violet;
}
.nav-li {
  margin: 10px;
  
}

.card1 {
  display: flex;
  width: 1280px;

  justify-content: center;
  margin:auto;
}

.h2-about{
  font-size: 40px;
  text-align: center;
  margin : 30px 15px;
}

.pro-name{
  font-size: 25px;
  text-align: center;
  margin : 30px 15px;
}

.pro-exp{
  text-align: center;
  font-size: 15px;
}


.card2{
  width:780px;
  

}
.main_text{

  margin :40px;
  line-height: 1.5rem;
  font-size: 15px;


}

.card3{
  display: block;
  width:500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  

}

.card4{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;

}

.icon{
  height: 64px;
  width: 64px;
}

.icon_div{
  text-align: center
}

.up_button{
  position: fixed;
  bottom : 15px;
  right:5px;

}

.pro-card1{
  display: flex;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;



}

.products{
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  width : 300px;

}

.pro-img{
  width: 100%;

}